# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [86]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [87]:
# Import the random city data list from WeatherPy assignment

random_cities_df = pd.read_csv('../WeatherPy/Output/city_weather_data.csv')
random_cities_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Lompoc,34.6391,-120.4579,54.12,79,0,4.61,US,1644074478
1,Kulhudhuffushi,6.6221,73.0700,80.87,70,25,11.41,MV,1644074491
2,Port Alfred,-33.5906,26.8910,70.05,83,98,23.62,ZA,1644074542
3,Ati,13.2154,18.3353,85.06,10,7,12.84,TD,1644074492
4,Mount Gambier,-37.8333,140.7667,61.75,67,94,8.03,AU,1644074543

In [88]:
random_cities_df.dtypes

City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date            int64
dtype: object

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [89]:
# configure gmaps

gmaps.configure(api_key=g_key)

In [90]:
# refer to Stu_Airport_map (Python API day 3 module 7)

locations = random_cities_df[["Lat", "Lng"]]

# Fill NaN values and convert to float
humidity = random_cities_df["Humidity"].astype(float)

In [91]:
# https://kodu.ut.ee/~kmoch/geopython2018/lessons/L4/gmaps-heatmap.html


# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=random_cities_df["Humidity"], 
                                 dissipating=False, max_intensity=30,
                                 point_radius=2)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [92]:
ideal_min_weather_df = random_cities_df.loc[(random_cities_df["Max Temp"] > 70)]
ideal_min_weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,Kulhudhuffushi,6.6221,73.0700,80.87,70,25,11.41,MV,1644074491
2,Port Alfred,-33.5906,26.8910,70.05,83,98,23.62,ZA,1644074542
3,Ati,13.2154,18.3353,85.06,10,7,12.84,TD,1644074492
6,Arraial do Cabo,-22.9661,-42.0278,89.56,62,0,12.66,BR,1644074493
7,Atuona,-9.8000,-139.0333,78.22,77,8,19.69,PF,1644074229
...,...,...,...,...,...,...,...,...,...
546,Bani Walid,31.7566,13.9942,72.45,14,66,5.73,LY,1644074721
548,Jatiroto,-7.8833,111.1167,75.00,88,96,1.19,ID,1644074722
554,Monrovia,6.3005,-10.7969,89.37,64,11,13.49,LR,1644074725
557,Fare,-16.7000,-151.0167,80.62,70,9,15.57,PF,1644074726
560,Riohacha,11.5444,-72.9072,86.11,54,40,11.50,CO,1644074727

In [93]:
ideal_max_weather_df = ideal_min_weather_df.loc[(random_cities_df["Max Temp"] < 80)]
ideal_max_weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,Port Alfred,-33.5906,26.8910,70.05,83,98,23.62,ZA,1644074542
7,Atuona,-9.8000,-139.0333,78.22,77,8,19.69,PF,1644074229
18,Zabid,14.1951,43.3152,79.54,63,83,14.85,YE,1644074546
21,Rikitea,-23.1203,-134.9692,78.37,73,22,11.07,PF,1644074547
26,Busselton,-33.6500,115.3333,71.04,78,0,5.68,AU,1644074294
...,...,...,...,...,...,...,...,...,...
532,Buluang,13.3068,123.3425,71.65,93,45,4.43,PH,1644074716
544,Ciudad de Armería,18.9333,-103.9667,76.30,53,35,2.82,MX,1644074721
545,Hobyo,5.3505,48.5268,77.85,67,14,14.90,SO,1644074721
546,Bani Walid,31.7566,13.9942,72.45,14,66,5.73,LY,1644074721
548,Jatiroto,-7.8833,111.1167,75.00,88,96,1.19,ID,1644074722

In [94]:
ideal_wind_speed_weather_df = ideal_max_weather_df.loc[(random_cities_df["Wind Speed"] < 5)]
ideal_wind_speed_weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
32,Bang Saphan,11.2126,99.5117,75.13,89,13,2.24,TH,1644074550
62,Cairns,-16.9167,145.7667,77.07,96,100,2.30,AU,1644074359
73,Bengkulu,-3.8004,102.2655,74.14,96,100,4.18,ID,1644074563
82,Marabu,4.4148,114.0089,77.14,100,40,0.00,MY,1644074566
120,Zacualpan,21.2500,-105.1667,70.72,64,77,3.31,MX,1644074577
155,Prachuap Khiri Khan,12.2167,99.7500,77.68,80,93,2.30,TH,1644074591
183,Bantogon,6.5333,124.0333,78.94,74,99,4.34,PH,1644074597
229,Karoi,-16.8099,29.6925,71.42,85,57,4.61,ZW,1644074615
231,Port Keats,-14.2500,129.5500,79.18,80,100,3.74,AU,1644074616
233,Abu Dhabi,24.4667,54.3667,73.51,68,0,4.61,AE,1644074349
235,Puerto Escondido,15.8500,-97.0667,77.58,44,0,4.25,MX,1644074597
252,Granville,-33.8333,151.0167,71.38,66,75,1.99,AU,1644074623
265,Alyangula,-13.8483,136.4192,78.67,100,98,2.30,AU,1644074626
280,Bilma,18.6853,12.9164,74.14,12,0,3.87,NE,1644074631
333,Sucúa,-2.4667,-78.1667,75.94,78,40,2.30,EC,1644074650
340,Kahului,20.8947,-156.4700,74.84,81,0,4.61,US,1644074652
355,Pedernales,18.0384,-71.7440,78.89,65,16,4.38,DO,1644074659
362,São Paulo de Olivença,-3.3783,-68.8725,75.60,91,100,3.80,BR,1644074661
372,Pouembout,-21.1333,164.9000,75.74,90,29,1.90,NC,1644074664
382,Carutapera,-1.1950,-46.0200,78.62,89,100,3.06,BR,1644074667
405,Biak,-0.9131,122.8766,76.21,86,100,3.62,ID,1644074675
415,Nhulunbuy,-12.2333,136.7667,77.61,94,100,0.00,AU,1644074678
458,Masuguru,-11.3667,38.4167,78.37,86,86,4.50,TZ,1644074691
469,Yārāda,17.6500,83.2667,73.72,73,20,2.30,IN,1644074695
485,Lodja,-3.4833,23.4333,79.16,65,97,1.21,CD,1644074701
504,Acapulco de Juárez,16.8634,-99.8901,76.82,73,20,0.00,MX,1644074518
512,Koumac,-20.5667,164.2833,77.67,80,66,0.69,NC,1644074710
532,Buluang,13.3068,123.3425,71.65,93,45,4.43,PH,1644074716
544,Ciudad de Armería,18.9333,-103.9667,76.30,53,35,2.82,MX,1644074721
548,Jatiroto,-7.8833,111.1167,75.00,88,96,1.19,ID,1644074722

In [95]:
ideal_cloudiness_weather_df = ideal_wind_speed_weather_df.loc[(random_cities_df["Cloudiness"] < 30)]
ideal_cloudiness_weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
32,Bang Saphan,11.2126,99.5117,75.13,89,13,2.24,TH,1644074550
233,Abu Dhabi,24.4667,54.3667,73.51,68,0,4.61,AE,1644074349
235,Puerto Escondido,15.8500,-97.0667,77.58,44,0,4.25,MX,1644074597
280,Bilma,18.6853,12.9164,74.14,12,0,3.87,NE,1644074631
340,Kahului,20.8947,-156.4700,74.84,81,0,4.61,US,1644074652
355,Pedernales,18.0384,-71.7440,78.89,65,16,4.38,DO,1644074659
372,Pouembout,-21.1333,164.9000,75.74,90,29,1.90,NC,1644074664
469,Yārāda,17.6500,83.2667,73.72,73,20,2.30,IN,1644074695
504,Acapulco de Juárez,16.8634,-99.8901,76.82,73,20,0.00,MX,1644074518

In [96]:
final_ideal_weather_df = ideal_cloudiness_weather_df
final_ideal_weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
32,Bang Saphan,11.2126,99.5117,75.13,89,13,2.24,TH,1644074550
233,Abu Dhabi,24.4667,54.3667,73.51,68,0,4.61,AE,1644074349
235,Puerto Escondido,15.8500,-97.0667,77.58,44,0,4.25,MX,1644074597
280,Bilma,18.6853,12.9164,74.14,12,0,3.87,NE,1644074631
340,Kahului,20.8947,-156.4700,74.84,81,0,4.61,US,1644074652
355,Pedernales,18.0384,-71.7440,78.89,65,16,4.38,DO,1644074659
372,Pouembout,-21.1333,164.9000,75.74,90,29,1.90,NC,1644074664
469,Yārāda,17.6500,83.2667,73.72,73,20,2.30,IN,1644074695
504,Acapulco de Juárez,16.8634,-99.8901,76.82,73,20,0.00,MX,1644074518

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [99]:
hotel_df = pd.DataFrame(final_ideal_weather_df)
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
32,Bang Saphan,11.2126,99.5117,75.13,89,13,2.24,TH,1644074550
233,Abu Dhabi,24.4667,54.3667,73.51,68,0,4.61,AE,1644074349
235,Puerto Escondido,15.8500,-97.0667,77.58,44,0,4.25,MX,1644074597
280,Bilma,18.6853,12.9164,74.14,12,0,3.87,NE,1644074631
340,Kahului,20.8947,-156.4700,74.84,81,0,4.61,US,1644074652
355,Pedernales,18.0384,-71.7440,78.89,65,16,4.38,DO,1644074659
372,Pouembout,-21.1333,164.9000,75.74,90,29,1.90,NC,1644074664
469,Yārāda,17.6500,83.2667,73.72,73,20,2.30,IN,1644074695
504,Acapulco de Juárez,16.8634,-99.8901,76.82,73,20,0.00,MX,1644074518

In [100]:
hotel_df["Hotel Name"] = ""
hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
32,Bang Saphan,11.2126,99.5117,75.13,89,13,2.24,TH,1644074550,
233,Abu Dhabi,24.4667,54.3667,73.51,68,0,4.61,AE,1644074349,
235,Puerto Escondido,15.8500,-97.0667,77.58,44,0,4.25,MX,1644074597,
280,Bilma,18.6853,12.9164,74.14,12,0,3.87,NE,1644074631,
340,Kahului,20.8947,-156.4700,74.84,81,0,4.61,US,1644074652,

In [102]:
# https://developers.google.com/maps/documentation/places/web-service/supported_types
# refer to Stu_Google_complex (Python API day 3 module 5)

# set up a parameters dictionary
params = {
    "radius": 50000,
    "types": "lodging",
    "key": g_key
}

# Use the lat/lng of ideal cities to identify hotels
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Find nearby hotels using lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request
    print(f"Retrieving Results for {lat}, {lng}.")
    name_address = requests.get(base_url, params=params).json()
    
    
    # extract results
#     pprint(json.dumps(name_address, indent=4, sort_keys=True))
    
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Retrieving Results for 11.2126, 99.5117.
Retrieving Results for 24.4667, 54.3667.
Retrieving Results for 15.85, -97.0667.
Retrieving Results for 18.6853, 12.9164.
Retrieving Results for 20.8947, -156.47.
Retrieving Results for 18.0384, -71.744.
Retrieving Results for -21.1333, 164.9.
Retrieving Results for 17.65, 83.2667.
Retrieving Results for 16.8634, -99.8901.

In [103]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
32,Bang Saphan,11.2126,99.5117,75.13,89,13,2.24,TH,1644074550,Baanmontrabeach Resort
233,Abu Dhabi,24.4667,54.3667,73.51,68,0,4.61,AE,1644074349,Ramee Garden Hotel Apartments
235,Puerto Escondido,15.8500,-97.0667,77.58,44,0,4.25,MX,1644074597,Aldea del Bazar Hotel and Spa
280,Bilma,18.6853,12.9164,74.14,12,0,3.87,NE,1644074631,Expeditions Ténére voyages
340,Kahului,20.8947,-156.4700,74.84,81,0,4.61,US,1644074652,Maui Seaside Hotel
355,Pedernales,18.0384,-71.7440,78.89,65,16,4.38,DO,1644074659,Eco del Mar
372,Pouembout,-21.1333,164.9000,75.74,90,29,1.90,NC,1644074664,Le gîte du Koniambo
469,Yārāda,17.6500,83.2667,73.72,73,20,2.30,IN,1644074695,Novotel Visakhapatnam Varun Beach
504,Acapulco de Juárez,16.8634,-99.8901,76.82,73,20,0.00,MX,1644074518,HS Hotsson Smart Acapulco

In [104]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [105]:
# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Display figure

fig.add_layer(markers) # turn on markers
fig

Figure(layout=FigureLayout(height='420px'))